:root {

}

.rcs-pretext {
    text-transform: uppercase;
    color: var(--bs-gray);
    font-size: 1em;
    margin-bottom: .9rem;
    margin-left: 2px;
}

.rcs-main-content-inner {
    margin-top: 3rem;
    margin-bottom: 3rem;
}