<div class="rcs-main-content-inner">
    <div class="row">
        <div class="col"></div>
        <div class="col-mb-5 px-2 text-center">
            <img src="#app-url#/img/graphic-reacsampler-lab.svg" alt="#app-name#" class="mb-4" style="max-width: 1024px;">
            <h4 class="text-muted mb-3">Te damos la bienvenida</h4>
            <p class="mb-3">#app-name# es la aplicación web que gestiona pruebas relacionadas con el SARS-CoV-2 y la COVID-19.</p>
            <p class="mb-5">Consulta tus resultados iniciando sesión.</p>
            <p class="mb-5"><a class="btn btn-primary" href="#app-url#/auth/login/">Iniciar sesión</a></p>
            <small><a class="text-muted" href='https://www.freepik.com/vectors/business'>La imagen de arriba fue diseñada por pch.vector de www.freepik.com</a></small>
        </div>
        <div class="col"></div>
    </div>
</div>