        <footer id="main-footer" class="page-footer font-small bg-light pt-4">
            <div class="footer-copyright text-center p-3">
                <p>#app-name#</p>
                <p class="text-muted">Hecho con ❤ por <a href="https://juancrrn.io" target="_blank">Juan Carrión</a></p>
            </div>
        </footer>

        <!-- Autoconfiguration de la aplicación -->
        <script>
            #js-autoconf#
        </script>

        <!-- jQuery -->
        <script src="#home-url#/js/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap bundle -->
        <script src="#home-url#/js/bootstrap-v5.0.0-beta3.bundle.min.js"></script>

        <!-- Scripts de la aplicación -->
        <!--script src="$appUrl/js/auxfn.js$v"></script-->
        <script src="#home-url#/js/toast.js#cache-version#"></script>
        <script src="#home-url#/js/app.js#cache-version#"></script>
        <!--script src="$appUrl/js/formulariosAjax.js$v"></script-->
        <!--script src="$appUrl/js/funcionesOnSuccess.js$v"></script-->
        <!--script src="$appUrl/js/handlersOnSuccess.js$v"></script-->
        <!--script src="$appUrl/js/gesiSchedule.js$v"></script-->
    </body>
</html>